# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Environment variables
.env
.env.g.dart
# Firebase configuration
google-services.json

# Fichiers Flutter
.dart_tool/
.packages
.pub/
build/
flutter_export_environment.sh

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
linux/flutter/ephemeral/.plugin_symlinks/flutter_secure_storage_linux
linux/flutter/ephemeral/.plugin_symlinks/path_provider_linux
linux/flutter/ephemeral/.plugin_symlinks/shared_preferences_linux
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/Flutter-Generated.xcconfig
windows/flutter/ephemeral/.plugin_symlinks/cloud_firestore
windows/flutter/ephemeral/.plugin_symlinks/firebase_auth
windows/flutter/ephemeral/.plugin_symlinks/firebase_core
windows/flutter/ephemeral/.plugin_symlinks/geolocator_windows
windows/flutter/ephemeral/.plugin_symlinks/path_provider_windows
windows/flutter/ephemeral/.plugin_symlinks/shared_preferences_windows
ios/Runner.xcodeproj/project.pbxproj
linux/flutter/ephemeral/.plugin_symlinks 2/flutter_secure_storage_linux
linux/flutter/ephemeral/.plugin_symlinks 2/path_provider_linux
linux/flutter/ephemeral/.plugin_symlinks 2/shared_preferences_linux
ios/Runner.xcodeproj/project.pbxproj
UI/Screenshot_1763928760.png
UI/Capture d’écran 2025-11-23 à 20.16.55.png
UI/Capture d’écran 2025-11-23 à 20.16.06.png
UI/Capture d’écran 2025-11-23 à 20.12.32.png
UI/Capture d’écran 2025-11-23 à 20.12.26.png
UI/Capture d’écran 2025-11-23 à 20.12.25.png
UI/Capture d’écran 2025-11-23 à 20.11.00.png
UI/Capture d’écran 2025-11-23 à 20.10.52.png
UI/Capture d’écran 2025-11-23 à 20.00.40.png
UI/Capture d’écran 2025-11-23 à 20.00.20.png
